<% if flash[:message] %>
   <div class="alert alert-danger">
     <span class="error"><%= flash[:message] %></span>
   </div>
<% end %>

<% if @game.count == 0 %>
  <img src="/Hangman-0.png" />
<% elsif @game.count == 1 %>
  <img src="/Hangman-1.png" />
<% elsif @game.count == 2 %>
  <img src="/Hangman-2.png" />
<% elsif @game.count == 3 %>
  <img src="/Hangman-3.png" />
<% elsif @game.count == 4 %>
  <img src="/Hangman-4.png" />
<% elsif @game.count == 5 %>
  <img src="/Hangman-5.png" />
<% elsif @game.count == 6 %>
  <img src="/Hangman-6.png" />
<% end %>

<div class="alert alert-warning">
  <p class="lead">
    Wrong Guesses:
    <span class="guesses"><%= @game.wrong_guesses %></span><br/>
  </p>
</div>

<p class="alert alert-success">
  Word so far:
  <span class="word"><%= @game.word_with_guesses %></span>
</p>

<form action="/guess" method="post">
  <div class="form-group row">
    <label for="guess" class="col-md-2 col-form-label">Guess a letter:</label>
    <input type="text" name="guess" autocomplete="off"
           class="form-control col-md-1"/>
    <input type="submit" value="Guess!" class="col-md-2 btn btn-success"/>
  </div>
</form>

<%= erb :new %>
